body{
    background: #fc00ff;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde, #fc00ff);
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.main{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    
}

.boton{
    font-weight: bold;
    border: 2px black solid;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    transition: .5s;
}

.colores{
    text-align: center;
}

#tamaño{
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    margin: 0;
    padding: 0;
}

/* Contenedor del contenedor-grid*/

.contenedor{
    padding: 30px;
    display: flex;
    justify-content: center;
}

/*Contenedor grid*/

.contenedor-grid{
    display: grid;
    background-color: white;
    height: 500px;
    width: 500px;
    border: black 5px solid;
}

.contenedor-grid div{
    background-color: white;
}

.grid-element{
    background-color: black;
}

/*--------grid-close---------*/

@media screen and (max-width: 700px) {

    .contenedor-grid{
        height: 300px;
        width: 300px;
    }

    .boton{
        width: 80px;
        height: 40px; 
    }

}

@media screen and (max-width: 500px){

    .main{
        flex-direction: column-reverse;
    }

    .boton{
        width: 60px;
        height: 30px;
        font-size: 10px;
    }

    .botones{
        flex-direction: row;
    }

}